<h1>Places</h1>

<p>
  <a href="/places/new" class="btn btn-primary">New place</a>
</p>

<br>

<% for place in @places %>
  <p>
    <h3><a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </h3>
  </p>
<% end %>