<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <button type="submit" class="btn btn-secondary"> Create place </button>
  </p>
<% end %>